html, body { 
  font-family: 'Arial';
  height: 100%;
}

input, body, .Start_playing, .Return_home {
    /*font-family: 'Arial';*/
}

td {
    text-align: center;
}

tr {
    //background-color: White;
    //border-radius: 0.5em;
}

img {
    height: auto;
    max-width: 20em;
}

body {
    background-color: #79e3f0;
    /*Ryza Dust*/
    color: Black;
}

span {
    background-color: white;
    border-radius: 0.5em;
    padding: .15em;
    font-size: 1.5em;
    text-align: center;
}

div {
    border-style: hidden;
    color: Black;
    padding-top: 1em;
}

#questionCountdown { 
  position: absolute; 
  transform: translate(-50%, -50%);  
  bottom: 5%;
}

#question_title { 
  background-color: white;
  border-radius: 0.5em;
  padding: .15em;
  text-align: center;

  width: 80%;
  font-size: 1em;
} 

#countdown { 
  position: absolute;   
  transform: translate(-50%, -50%); 
  top: 50%; 
  left: 50%;
}

#pleasewait { 
  position: absolute;   
  transform: translate(-50%, -50%); 
  top: 30%; 
  left: 50%;
}


.countdown {
  font-size: 1.5em;
  position: absolute; 
  transform: translate(-50%, -50%);  
  bottom: 75px;
}

#disconnect {
  font-size: 1em;
  position: absolute; 
  transform: translate(-50%, -50%);  
  bottom: 10px;
}

.leaderboard {
    font-size: 1.5em;
}

.Return_home, .button_start {
    background-color: #e2e2da;
    border-color: #6B6A74;
    border-radius: 0.5em;
    padding: .2em;
    border-width: .3em;
    color: #000000;
    font-size: 1.80em;
}

.quiz_name {
    font-size: 3em;
}

table {
    display: table;
    font-size: 150%;
}

.Leaderboard_content {
    display: inline;
}

.answer_A, .answer_B, .answer_C, .answer_D {
  border-radius: 0.5em;
  color: White;
  font-size: 1.2em;
  word-wrap: normal;
  /*padding: .2em;*/
  width: 6em;
  height: 3em;
  padding: 50px 10px;
  margin: 10px;
}

.answer_A, .answer_C {
    float: left;
}

.answer_B, .answer_D {
    float: right;
}

.answer_A {
    background-color: #991115;
}

.answer_B {
    background-color: #0D407F;
}

.answer_C {
    background-color: #d6cf06;
}

.answer_D {
    background-color: #00401E;
}

#ans { 
    font-size: 1.5em;
}

.Start_playing, .Return_home {
    width: 6.7em;
    padding-top: 0.5em;
}

.Start_playing {
    height: 2em;
}

.Return_home {
    height: 3.5em;
}

.Start_playing {
    font-size: 1.5em;
}

button {
  background-color: #e2e2da;
  border-color: #6B6A74;
  border-radius: 0.5em;
  border-width: .3em;
  color: #000000;
  font-family: 'Arial';
  font-size: 1.80em;
  padding: .2em;
}
